@import '../../styles/variables';
.forgot-container {
width: 40%;
margin: auto;
    
.cancel-btn{
    background: grey;
    color: white;
}
.forgot-btn{
    background: $primary-color;
    color: white;
}
}
